<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.le.cs.mapper.AppCusterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.le.cs.entity.AppCuster">
        <result column="id" property="id" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="app_id" property="appId" />
        <result column="app_type" property="appType" />
        <result column="customer_id" property="customerId" />
        <result column="open_user_id" property="openUserId" />
        <result column="platform_user_id" property="platformUserId" />
        <result column="open_id" property="openId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_date, modify_date, 
        app_id, app_type, customer_id, open_user_id, platform_user_id, open_id
    </sql>

</mapper>
